*{
    margin:0;
    padding:0;
}

.logo {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px; /* Adjusted padding */
}

.logo img {
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}

.name {
    margin-top: 1px; /* Adjusted margin */
    font-size: 16px;
    color: white;
}



.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width:100%;
    background-color: rgb(6, 6, 6);
    display: flex;
    align-items: center;
    
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}

.rightNav{
    width: 50%;
    background-color:  rgb(6, 6, 6);
    display: flex;
    text-align:middle;

}

.background{
    /* background: rgb(0, 0, 0.7) url('./img/bg.png'); */
    background-image: url('/img/bg1.png');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 90vh;
}

/* .box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
} */

/* here from video ref. 36 min onwards going on which we dont need currently */

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 120px; 
}

.secondHalf{
    width: 20%;
    /* width: 70%;
    border-radius: 150px;
    border: 4px solid white;
    display: block;
    margin: auto; */
}

.text-big{
    font-size: 20px;
    display: flex;
    justify-content: left;

}